<html lang="pl-Pl">
    <head>
        <title>zamawiacz</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--
        <link rel="stylesheet" href="static/css/uikit.min.css" />
        <script src="static/js/uikit.min.js"></script>
        <script src="static/js/uikit-icons.min.js"></script>
      -->

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.4/js/uikit-icons.min.js"></script>

        <!-- React-->
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

        <script src="/socket.io/socket.io.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>

       <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>

        <!--  Edge addon -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>

       <script src="javascripts/index.js" type="text/babel" ></script>
    </head>

    <body>
         <div>
         <div class="uk-background-blend-screen "style="background-size: 100%;background-image: url('/images/tlo.jp2');">
          <div id="rootApp"> </div>
         </div>

         <div class="tm-footer uk-margin-medium">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a uk-icon="github" href="https://github.com/eggs2017/eggsmenu">GitHub</a></li>
                </ul>

                <div class="uk-panel">
                    <p>Made by eggs2017<br class="uk-hidden-small">Licensed under <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
                </div>

            </div>
        </div>

       </div>
    </body>
</html>
